[submodule "draggingroup/site-indev"]
	path = draggingroup/site-indev
	url = https://github.com/IdealistCat/Site
[submodule "draggingroup/site-public"]
	path = draggingroup/site-public
	url = https://github.com/DragginGroup/Site
[submodule "python/py-insider"]
	path = python/py-insider
	url = https://github.com/IdealistCat/Python-Insider
[submodule "python/insiders"]
	path = python/insiders
	url = https://github.com/IdealistCat/Insiders
[submodule "youtube/git-assets"]
	path = youtube/git-assets
	url = https://github.com/IdealistCat/git-assets
[submodule "youtube/stickshorts-assets"]
	path = youtube/stickshorts-assets
	url = https://github.com/IdealistCat/stickShorts-assets
